<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Currency Converter</title>
    </head>
    <body>
        <h1>Currency Converter</h1>
        <form action="/convert" method="post">
            <div style="padding:10px;width:40%;display:flex;">
                <div style="width:50%;" >
                    <label for="sourceCurrency">Source Currency</label>
                    <select name="sourceCurrency" id="sourceCurrency" required>
                        <option th:each="code : ${currencyCodes}" th:value="${code}" th:text="${code}"></option>
                    </select>
                </div>
                <div style="width:50%;" >
                    <label for="targetCurrency">Target Currency</label>
                    <select name="targetCurrency" id="targetCurrency" required>
                        <option th:each="code : ${currencyCodes}" th:value="${code}" th:text="${code}"></option>
                    </select>
                </div>
            </div>
            <div style="padding:10px;width:40%;display:flex;">
                <div style="width:50%;" >
                    <label for="amount">Amount</label>
                    <input style="width:50%;" type="number" name="amount" id="amount" required>
                </div>
                <div style="width:50%;">
                    <button type="submit">Convert</button>
                </div>
            </div>
        </form>
        <div th:if="${result}">
            <p>The converted amount is: <span th:text="${result}"></span> <span th:text="${targetCurrency}"></span></p>
        </div>
    </body>
</html>
